/*Navigation Bar*/

.top-section
{
    
    position: fixed;
    width: 100%;
    padding: 0;
    margin: 0;
    top:0;
    left:0;
    padding-bottom: 20px;
    background-image: linear-gradient(to bottom right,#68B984, #BFDB38);
    border-bottom: 2px groove #80f1a8;
}

.nav-bar
{
    width: 500px;
    margin: 0 auto;
}

.nav-bar li
{
    
    border-radius: 5px;
    margin-top: 10px;
    border: 2px solid black;
    float: left;
    margin-right: 10px;
    list-style: none;
    cursor: pointer;
    background-color: #1F8A70;
    box-shadow: 0 12px #176350;
}

.nav-bar li:hover
{
    box-shadow: 0 7px #176350;
    transform: translateY(5px);
}

.nav-bar li:active
{
    border: 2px solid #BFDB38;;
}

.nav-bar a
{
    color: #BFDB38;
    padding: 10px;
    font-size: large;
    text-decoration: none;
}

.git-hub
{
    margin-top: 10px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
    height: 22px;
    width: 25px;
    background-color: #1F8A70;
    box-shadow: 0 12px #176350;
    margin-right: -5px;

}

.git-hub:hover
{
    box-shadow: 0 7px #176350;
    transform: translateY(5px);
}

.git-hub:active
{
    border: 2px solid #BFDB38;;
}

.itch-io
{
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: 2px solid black;
    height: 22px;
    width: 25px;
    background-color: #1F8A70;
    box-shadow: 0 12px #176350;
    margin-right: -5px;
}

.itch-io:hover
{
    box-shadow: 0 7px #176350;
    transform: translateY(5px);
}

.itch-io:active
{
    border: 2px solid #BFDB38;;
}

.linked-in
{
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: 2px solid black;
    height: 22px;
    width: 25px;
    background-color: #1F8A70;
    box-shadow: 0 12px #176350;
    margin-right: -5px;
}

.linked-in:hover
{
    box-shadow: 0 7px #176350;
    transform: translateY(5px);
}

.linked-in:active
{
    border: 2px solid #BFDB38;;
}

/*Navigation Bar End*/


/*Contact Page*/

.container-contact-me
{
    position: fixed;
    width: 100%;
    padding: 0;
    margin: 0;
    top:61.5px;
    left:0;
    
    padding-bottom: 100%;
    
    background-image: linear-gradient(to top right,#E5FDD1, #B5F1CC);
}

.contact-me
{
    border: 2px solid #80f1a8;
    border-radius: 10px;
    background-image: linear-gradient(to bottom,#68B984, #7b8b28);
    width: 25%;
    margin-left: 17%;
    margin-top: 5%;
    padding: 10px;
}

.contact-me label
{
    color: #dde012;
    font-size: large;
    margin-left: 10%;
}

.contact-me input[type="text"]
{
    border: 2px solid #000000;
    border-radius: 10px;
    margin-left: 10%;
    margin-bottom: 10px;
    width: 75%;
}

.contact-me input[type="text"]:hover
{
    border: 2px solid #BFDB38;
}

.contact-me input[type="email"]
{
    border: 2px solid #000000;
    border-radius: 10px;
    margin-left: 10%;
    width: 75%;
    margin-bottom: 10px;
}

.contact-me input[type="email"]:hover
{
    border: 2px solid #BFDB38; 
}

.contact-me textarea
{
    border: 2px solid #000000;
    border-radius: 10px;
    margin-left: 10%;
    width: 75%;
    margin-bottom: 10px;
}

.contact-me textarea:hover
{
    border: 2px solid #BFDB38; 
}

.submit-button
{
    font-size: large;
    color: #BFDB38;
    cursor: pointer;
    background-color: #1F8A70;
    box-shadow: 0 12px #176350;
    border: 2px solid #000000;
    border-radius: 10px;
    margin-top: 10%;
    margin-left: 32%;
    width: 150px;
    height: 50px;
}

.submit-button:active
{
    border: 2px solid #BFDB38;
    box-shadow: 0 7px #176350;
    transform: translateY(5px); 
}

.contact-me iframe
{
    width: 125%;
    border: 2px solid #80f1a8;
    border-radius: 25px;
    margin-top: -400px;
    margin-left: 150%;
}

/*Contact Page End*/


/*About Me Page*/

.container-about-me
{
    position: fixed;
    width: 100%;
    padding: 0;
    margin: 0;
    top:61.5px;
    left:0;
    
    padding-bottom: 100%;
    background-image: linear-gradient(to right top,#865DFF, #E384FF);
}

.about-me h2
{
    position: relative;
    text-align: center;
    margin-top: 30px;
    font-size:xx-large;
    color: #191825;
}

.about-me p
{
    text-align: center;
    font-size: large;
    line-height: 30px;
    word-spacing: 5px;
}

.about-me h3
{
    position: relative;
    text-align: center;
    font-size:xx-large;
    color: #191825;
}

.about-me p[id = project-paragraph]
{
    margin-top: -20px;
    margin-bottom: 75px;
}

.projects
{
    margin-left: 10%;
}

.projects img
{
    border: 2px solid black;
}

.projects img:hover
{
    border: 2px solid #FFA3FD;
}

.projects a[id = text]
{
    color: #191825;
}

.projects a[id = text]:hover
{
    color: #FFA3FD;
}

.light-second
{
    position: fixed;
    margin-left: 10%;
}

.light-second h4
{
    position: fixed;
    margin-left: 9.5%;
}

.save-the-nature
{
    position: fixed;
    margin-left: 50%;
}

.save-the-nature h4
{
    position: fixed;
    margin-left: 5.5%;
}
/*About Me Page End*/