@font-face {
    font-family: "roboFont";
    src: url("assets/PressStart2P-Regular.ttf");
}

body
{
    background-image: linear-gradient(to right,#E5FDD1, #B5F1CC);
}

/*Navigation Bar*/

.top-section
{
    margin-top: -10px;
    margin-left: -10px;    
    padding-right: 20px;
    width: 100%;
    padding-bottom: 20px;
    background-image: linear-gradient(to bottom right,#68B984, #BFDB38);
    border-bottom: 4px solid black;

}

.nav-bar
{
    width: 650px;
    margin: 0 auto;
}

.nav-bar li
{
    width: 150px;
    border-radius: 5px;
    margin-top: 10px;
    border: 2px solid black;
    text-align: center;
    float: left;
    margin-right: 10px;
    list-style: none;
    cursor: pointer;
    background-color: #1F8A70;
    box-shadow: 0 12px #176350;
    padding-top: 10px;
    padding-bottom: 5px;
}

.nav-bar li:hover
{
    box-shadow: 0 7px #176350;
    transform: translateY(5px);
    border: 2px solid #BFDB38;
}


.nav-bar a
{
    font-family:"roboFont";
    font-size:small;
    color: black;
    padding: 10px;
    text-decoration: none;
}

.nav-bar a:hover
{
    color: #BFDB38;
}

.git-hub
{
    margin-top: 10px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 10px;
    height: 30px;
    width: 30px;
    background-color:azure;
    box-shadow: 0 12px rgb(158, 163, 163);
    margin-right: -5px;

}

.git-hub:hover
{
    box-shadow: 0 7px rgb(158, 163, 163);
    transform: translateY(5px);
    border: 2px solid rgb(253, 255, 245)
}

.itch-io
{
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: 2px solid black;
    height: 30px;
    width: 30px;
    background-color: #FF8E9E;
    box-shadow: 0 12px #FF597B;
    margin-right: -5px;
}

.itch-io:hover
{
    box-shadow: 0 7px #FF597B;
    transform: translateY(5px);
    border: 2px solid #F9B5D0;;
}

.linked-in
{
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: 2px solid black;
    height: 30px;
    width: 30px;
    background-color: #19A7CE;
    box-shadow: 0 12px #146C94;
    margin-right: -5px;
}

.linked-in:hover
{
    box-shadow: 0 7px #146C94;
    transform: translateY(5px);
    border: 2px solid #2FA4FF;;
}


/*Navigation Bar End*/


/*Home Page*/ 

.container-home-page
{
    width: 100%;    
}

.container-home-page h1[id = junior]
{
    font-family:"roboFont";
    margin-left: 15%;
    font-size: 30px;
    text-shadow: 0 6px #BFDB38;
}

.container-home-page h1[id = name]
{
    font-family:"roboFont";
    text-shadow: 0 8px #BFDB38;
    margin-left: 15%;
    margin-top: 14%;
    font-size: 65px;
}

.container-home-page img
{
    border: 1px solid #B5F1CC;
    box-shadow: 0 10px #E5FDD1;
    border-radius: 100%;
    margin-top: -21%;
    width: 25%;
    margin-left: 65%;
}

.resume-button
{
    margin-top: 1%;
    margin-left: 30%;
    font-family:"roboFont";
    font-size: medium;
    color: black;
    cursor: pointer;
    background-color: #1F8A70;
    box-shadow: 0 12px #176350;
    border: 2px solid #000000;
    border-radius: 10px;
    width: 150px;
    height: 50px;
}

.resume-button:active
{
    color:#BFDB38;
    border: 2px solid #BFDB38;
    box-shadow: 0 7px #176350;
    transform: translateY(5px); 
}

/*Home Page End*/ 


/*Contact Page*/

.container-contact-me
{
    
    width: 100%;    
}

.contact-me
{
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 12px #176350;
    background-image: linear-gradient(to bottom,#68B984, #7b8b28);
    width: 25%;
    margin-left: 17%;
    margin-top: 5%;
    padding: 10px;
}

.contact-me label
{
    font-family:"roboFont";
    color: #dde012;
    font-size: medium;
    margin-left: 10%;
}

.contact-me input[type="text"]
{
    border: 2px solid #000000;
    border-radius: 10px;
    margin-left: 10%;
    margin-bottom: 10px;
    width: 75%;
}

.contact-me input[type="text"]:hover
{
    border: 2px solid #BFDB38;
}

.contact-me input[type="email"]
{
    border: 2px solid #000000;
    border-radius: 10px;
    margin-left: 10%;
    width: 75%;
    margin-bottom: 10px;
}

.contact-me input[type="email"]:hover
{
    border: 2px solid #BFDB38; 
}

.contact-me textarea
{
    border: 2px solid #000000;
    border-radius: 10px;
    margin-left: 10%;
    width: 75%;
    margin-bottom: 10px;
}

.contact-me textarea:hover
{
    border: 2px solid #BFDB38; 
}

.submit-button
{
    font-family:"roboFont";
    font-size: medium;
    color: black;
    cursor: pointer;
    background-color: #1F8A70;
    box-shadow: 0 12px #176350;
    border: 2px solid #000000;
    border-radius: 10px;
    margin-top: 10%;
    margin-left: 32%;
    width: 150px;
    height: 50px;
}

.submit-button:active
{
    color:#BFDB38;
    border: 2px solid #BFDB38;
    box-shadow: 0 7px #176350;
    transform: translateY(5px); 
}

.contact-me iframe
{
    width: 125%;
    border: 2px solid black;
    box-shadow: 0 12px #176350;
    border-radius: 25px;
    margin-top: -400px;
    margin-left: 150%;
}

.contact-me iframe:hover
{
    border: 2px solid #BFDB38;    
}

/*Contact Page End*/


/*About Me Page*/

.container-about-me
{
    
    width: 100%;
}

.about-me h2
{
    font-family:"roboFont";
    position: relative;
    text-align: center;
    margin-top: 30px;
    font-size:xx-large;
    color: #191825;
    text-shadow: 0 4px #865DFF;
}

.about-me p
{
    font-family:"roboFont";
    color: #191825;
    text-shadow: 0 2px #865DFF;
    text-align: center;
    font-size:small;
    line-height: 35px;
}

.about-me h3
{
    font-family:"roboFont";
    position: relative;
    text-align: center;
    font-size:xx-large;
    color: #191825;
    text-shadow: 0 4px #865DFF;
}

.about-me p[id = project-paragraph]
{
    margin-top: -20px;
    margin-bottom: 75px;
}

.projects
{
    margin-left: 10%;
}

.projects img
{
    border: 2px solid black;
    border-radius: 12px;
    box-shadow: 0 20px #865DFF;

}

.projects img:hover
{
    border: 2px solid #FFA3FD;
    box-shadow: 0 20px #865DFF;
    transform: translateY(7px);
}

.projects a[id = text]
{
    text-decoration: none;
    text-shadow: 0 2px #865DFF;
    color: #191825;
}

.projects a[id = text]:hover
{
    color: #FFA3FD;
}

.light-second
{
    margin-left: 20%;
}

.light-second h4
{
    font-family:"roboFont";
    font-size: small;
    
    margin-top: 30px;
    margin-left: 6%;
}

.save-the-nature
{
    margin-top: -19.3%;
    margin-left: 50%;
}

.save-the-nature h4
{
    font-family:"roboFont";
    font-size: small;
    margin-top: 30px;
    margin-left: 8%;
}

.skills
{
    margin-top: 3%;
}


.skills-table
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

.skills-table th
{   
    font-family: "roboFont";
    color: #191825;
    text-shadow: 0 2px #1F8A70;
    font-size: 16px;
    background-color: #BFDB38; 
    padding: 10px;
    border: 2px solid #1F8A70;
    
}

.skills-table td[id="blank-software"]
{
    border: none;
    background-color: transparent;
    box-shadow:none;
}

.skills-table td
{
    color:#191825;
    font-family: "roboFont";
    font-size: 12px;
    background-color: #BFDB38; 
    border: 2px solid #1F8A70;
    padding: 10px;
}

.books h2
{
    margin-top: 4%;
}

.books p
{
    margin-left: 10%;
    text-align: left;
    margin-top: 4%;
    font-size: large;
    margin-bottom: 2%;
}

.books li
{
    color:#191825;
    font-family: "roboFont";
    font-size: 14px;
    margin-left: 9%;
    margin-bottom: 1%;
}

/*About Me Page End*/
